<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01C70A951B9F470E00EF0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C70AA91B9F470E00EF0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C70AB41B9F470E00EF0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
